/* mdi */
$mdi-font-path: '../../../bower_components/mdi/fonts/';
$mdi-font-size-base: 24px;
$mdi-css-prefix: mdi;

/* material */
$color-background: #b2b2b2;
$color-text: rgba(#000, .85); //#636161
$color-text--low: rgba(#000, .54);

$sidenav-default-width: 304px;
$sidenav-min-space: 56px;

/* cctr */
$cctr_yellow: #806812;
$cctr_red: #921406;
$color-white: #fff;

$cctr_host: 'http://cctr.io/';
//$cctr_host: 'http://dev.cctumbasreales.com/'; //Production
