@import 'variables';
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss';
@import '../../../bower_components/mdi/scss/materialdesignicons.scss';
@import 'fonts';
//@import '../../../bower_components/angular-material/angular-material.css';

body {
  font-family: 'RobotoDraft', 'Roboto', 'sans-serif', 'arial';
  font-size: 16px;
  font-weight: 300;
  //background-color: rgb(76,175,80);
  //color: $color-text;
}

h1, h2, h3, h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.ye-list {
  padding: 8px 0;
  width: 100%;
}

.ye-list__item {
  display: flex;
  width: 100%;
  margin: 8px 0;
  > .mdi {
    flex: 1 0 40px;
    margin-left: 16px;
    height: 40px;
    background-color: $cctr_yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
  }
  > div {
    margin-left: 16px;
    flex: 1 0 calc(100% - 72px);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
}
.ye-subheader {
  color: $cctr_red;
  margin: 16px;
  font-weight: 400;
  &.flat {
    color: $color-text;
  }
}

%ye-card {
  margin: 8px;
  border-radius: 2px;
  background-color: #fff;
  .ye-subheader {
    flex: 1 0 100%;
  }
  [ye-card-cover] {
    flex: 1 0 100%;
    border-radius: 2px 2px 0 0;
    background-size: cover;
    background-position: center center;
  }
}

.ye-card {
  @extend %ye-card;
  display: flex;
  flex-flow: row wrap;
}

.ye-card__section {
  display: flex;
  flex: 1 0 100%;
}

.ye-card__photo {
  flex: 1 0 35%;
  background-size: cover;
  background-position: center center;
  border-radius: 2px 0 0 0;
  > img {
    max-width: 100%;
    //border-radius: 2;
  }
}

.ye-card__text {
  padding: 0 16px 16px 16px;
}

.ye-card__content {
  flex: 1 0 65%;
  padding-bottom: 16px;
  > h3 {
    text-align: center;
    margin-top: 16px;
  }
  > p {
    margin-top: 16px;
    padding: 0 16px;
  }
}

.ye-card__footer {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-background;
  min-height: 48px;
  padding: 0 16px;
  > div {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    > .mdi {
      color: $cctr_yellow;
      margin: 0 8px;
      &:first-of-type {
        margin: 0 8px 0 0;
      }
    }
    &:nth-of-type(2) {
      display: block;
      text-align: right;
      color: $cctr_yellow;
    }
  }
}
