h2(class='ye-subheader') september

section(class='ye-card')
  div(class='ye-card__photo' ye-card-photo='' data-cover='{{layout.ui.host + "images/splash.jpg"}}')
    //img(src='http://cctr.io/wp-content/themes/cctr-wp-theme/static/images/splash.jpg')
  div(class='ye-card__content')
    h3 title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  div(class='ye-card__footer')
    div
      span(class='mdi mdi-calendar')
      time 14
      span(class='mdi mdi-clock')
      time 20:30pm
    div
      span(class='color-primary') salon sipan
