article(class='ye-card')

  section(class='ye-list')
    div(class='ye-list__item')
      span(class='mdi mdi-calendar')
      div
        div(class='block--horary')
          div
            h3 Lun - Vie
            p 9:00am - 8pm
          div
            h3 Sab
            p 9:00am - 1pm

    div(class='ye-list__item')
      span(class='mdi mdi-email')
      div
        h3 eventos@cctumbasreales.com

    div(class='ye-list__item')
      span(class='mdi mdi-map-marker')
      div
        h3 Calle Loreto Nº 270 - Urb. Patazca. Chiclayo - Perú

    div(class='ye-list__item')
      span(class='mdi mdi-phone')
      div
        h3 (74) 235063

  h2(class='ye-subheader') Envianos tus consultas

  section(class='contact__form')
    div(class='ye-input-container')
      input(ng-model='fullName' placeholder='full name')
    div(class='ye-input-container')
      input(ng-model='email' type='email' placeholder='email')
    div(class='ye-input-container')
      textarea(ng-model='message' placeholder='message')
