div(class = 'md-toolbar-tools md-whiteframe-z1')
  md-button(
  	aria-label = 'menu'
  	ng-click = 'layout.sidenavOpen("left")'
    class = 'md-icon-button'
  )
    md-icon(class = 'mdi-menu')

  span {{layout.ui.appbar.title || 'CCTR' | uppercase | translate | uppercase}}
  
  span(flex = true)

  md-button(
    ng-click = 'layout.refresh()'
    aria-label = 'refresh page'
    class = 'md-fab md-primary square--s bg-t bs-n'
  )
    md-icon(md-font-icon='mdi mdi-refresh')

  ye-menu(ng-if = 'layout.data.languages.avaibles.length > 1')
    md-button(
      aria-label = 'languages'
      class ='md-fab square--s bg-t bs-n'
    )
      md-icon(md-font-icon = 'mdi mdi-flag')
    ye-menu-options
      ye-menu-option(
        ng-repeat = 'lang in layout.data.languages.avaibles'
        ng-click = 'layout.changeLanguage(lang)'
        ng-class = '{"md-primary": (layout.data.languages.currentLang == lang)}'
      ) {{'LANGUAGES.' + lang | uppercase | translate | capitalize}}

  md-button(
    ng-if = 'layout.data.loggued'
    ng-click = 'layout.settings()'
    aria-label = 'user config'
    class = 'md-fab md-primary square--s bg-t bs-n'
  )
    md-icon(md-font-icon='mdi mdi-account')

  ye-menu(ng-if = 'layout.data.loggued')
    md-button(
      aria-label = 'settings'
      class ='md-fab square--s bg-t bs-n'
    ): md-icon(md-font-icon = 'mdi mdi-dots-vertical')
    ye-menu-options
      ye-menu-option(
        ng-click = 'layout.settings()'
      ) {{'SETTINGS' | uppercase | translate | capitalize}}
      ye-menu-option(
        ng-click = 'layout.logout()'
      ) {{'LOGOUT' | uppercase | translate | capitalize}}
