section(cctr-splash='' class="cctr-splash"  id="cctr-splash" data-logo='{{layout.ui.host + "images/logo-normal.png"}}'
	data-video='home.video' data-menu='layout.ui.menu')

section(
	ng-init='layout = layoutVm.vm'
	ui-view = 'content'
	class = 'cctr__content'
)
