//- var picture = require('./../assets/images/cover.jpg');

//ye-cover(picture = "#{picture}")
md-list

  md-list-item(
    ng-repeat = 'item in layout.ui.menu'
    layout=''
    layout-align = 'start center'
    class = 'fw-400'
    ng-click='layout.goTo(item.name)'
  )
    md-icon(md-font-icon = 'mdi mdi-{{item.icon}}', class = 'mr-16 ml-16')
    p(class = 'ml-16') {{item.name | uppercase | translate | capitalize}}
