<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

	<head>
		<meta charset="{{site.charset}}" />
		<title>
		{% if wp_title %}{{ wp_title }} - {{ site.name }}
		{% else %}{{ site.name }}
		{% endif %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="{{site.description}}">
		<!--<link rel="stylesheet" href="{{site.theme.link}}/static/app.css" type="text/css" media="screen" />-->
		<!--<link rel="stylesheet" href="wp-content/themes/cctr-wp-theme/static/build/app.bundle.css"/>-->
		<link rel="stylesheet" href="http://localhost:8090/build/app.bundle.css"/>
		<link rel="pingback" href="{{site.pingback_url}}" />
		<base href="/" />
		<style>

			main {
				overflow-x: hidden;
			}

			#loader {
				background-color: #fff;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 10;
			}
			.loader__bg {
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;
			}
			#loader__content {
				position: relative;
				z-index: 1;
				height: 100%;
				justify-content: center;
				align-items: center;
				display: flex;
			}
			#loader__bar {
				border: 1.5px solid rgba(255, 255, 255, 0.75);
				border-radius: 6px;
				width: 180px;
				height: 12px;
			}
			#loader__bar__progress {
				box-sizing: border-box;
				display: block;
				border-radius: 6px;
				background-color: #fff;
				height: 100%;
				position: relative;
				transition: width 1s ease;
				width: 10%;
			}
			.loader__bgc::after {
				content: '';
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				height: 100%;
				background-color: rgba(0, 0, 0, .6);
			}
		</style>

		{{function('wp_head')}}

	</head>

	<body class="{{body_class}}" data-template="base.twig">

		<div id="loader">
			<div class="loader__bg"></div>
			<div id="loader__content">
				<div id="loader__bar">
					<span id="loader__bar__progress"></span>
				</div>
			</div>
		</div>

		<main ui-view role="main" id ="main__view">
			{% block content %}Sorry, no content{% endblock %}
		</main>

		{{function('wp_footer')}}

		<script>
		'use strict';

		(function(d) {

			var loadPercent = 0;

			var loaderBarPregress = d.getElementById('loader__bar__progress');

			var intervalPercent = setInterval(function() {

				if (
					d.readyState === 'loading'
				) loadPercent = (loadPercent < 50) ?
					50 + 1 : (loadPercent < 75) ?
					loadPercent + 1 : loadPercent;
				else if (
					d.readyState === 'interactive'
				) loadPercent = (loadPercent < 75) ?
					75 + 1 : (loadPercent < 99) ?
					loadPercent + 1 : loadPercent;
				else if (d.readyState === 'complete') {
					loadPercent = 100;
					clearInterval(intervalPercent);
				}
				loaderBarPregress.style.width = loadPercent + '%';

			}, 1);

		})(document);
		</script>
		<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCbHybZq8U8DrhCEW_phaTt1BEzJdvKCHo&region=PE?language=es'></script>
		<script src="http://localhost:8090/build/vendor.bundle.js"></script>
		<script src="http://localhost:8090/build/app.bundle.js"></script>
		<!--
		<script src="wp-content/themes/cctr-wp-theme/static/build/vendor.bundle.js"></script>
		<script src="wp-content/themes/cctr-wp-theme/static/build/app.bundle.js"></script>
		-->
	</body>

</html>
