//-button(ng-model="bool" ng-click="cctrSplash.init = !cctrSplash.init;cctrSplash.bg = cctrSplash.bg == 'img' ? 'video' : 'img'") sdsdsd
section(class='appbar')
  span(ng-click='cctrSplash.openMenu()' class='mdi mdi-menu')
  h2 {{cctrSplash.appbarTitle}}

section(class='cctr-splash__menu-toggle')

  div(class='cctr-splash__bg')
    div(ng-if='cctrSplash.bg == "img"' class='cctr-splash__bg__img')
    video(ng-if='cctrSplash.bg == "video"' class='cctr-splash__bg__video'
      autoplay='' loop='' muted='')
      source(type='video/mp4' ng-src='{{cctrSplash.videoUrl}}')

  section(class='cctr-splash__menu')
    div(class='logo')
      img(ng-src="{{cctrSplash.logo}}" alt="logo cctr")
    a(
      ng-repeat='item in cctrSplash.menu'
      ng-animate-ref = '{{item.name}}'
      ng-click='cctrSplash.goTo($event, item.name)'
    )
      span(class='mdi mdi-star')
      h2 {{item.name}}

  section(class='cctr-splash__footer')
    span(class='mdi mdi-facebook')
    span(class='mdi mdi-twitter')
    span(class='mdi mdi-instagram')
    span(class='mdi mdi-youtube-play')
//-
  div(class='cctr-splash__content')

    img(class='cctr-splash__content__logo' ng-src="{{cctrSplash.logo}}" alt="logo cctr")
    span(class='cctr-splash__content__underline')

//-
  div(class='cctr-splash__actions')

  div(class='cctr-splash__actions__blog')
      h2 Blog

    div(class='cctr-splash__actions__booking')
      h2 Reserva tu evento

    div(class='cctr-splash__actions__socials')
      span(class='mdi mdi-twitter')
      span(class='mdi mdi-facebook')
      span(class='mdi mdi-twitter')
