div(class='gmap__map')
  div(class='gmap__map__poster' ng-class='gmap.showMap ? "ye-fade" : "ye-appear"')
    span(class='mdi mdi-map')
    span(class='mdi mdi-alert-circle' ng-show = 'gmap.fail')

  div(class='gmap__map__wrapper' ng-class='gmap.showMap ? "ye-appear" : "ye-fade"')
