gmap

section(class='ye-card')
  section
    div(class='location__text')
      p Centro de Convenciones “Tumbas Reales’’, es un moderno lugar y goza de una ubicación ideal a solo 3 minutos del centro de la Ciudad de Chiclayo

    h2(class='ye-subheader') Salon sipan
    div(class='location__images')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')

    h2(class='ye-subheader') Salon Naylamp
    div(class='location__images')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')

    h2(class='ye-subheader') Salon Llampallec
    div(class='location__images')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
      div(class='photo'): img(src='{{layout.ui.host + "images/splash.jpg"}}')
