@import '../../layout/styles/variables';
/** cctr__content **/
.location .ye-card {
  display: flex;
  flex-flow: row wrap;
  > gmap {
    flex: 1 0 100%;
  }
  > h2 {
    text-align: center;
    font-size: 16px;
    margin: 16px 0 0 0;
    flex: 1 0 100%;
  }
  > section {
    flex: 1 0 100%;
  }
}

.location__text {
  padding: 0 16px;
  margin-top: 16px;
}

.location__images {
  display: flex;
  overflow-x: scroll;
  >.photo {
    flex: 1 0 50%;
    img {
      max-width: 100%;
    }
  }
}
