//section(cctr-splash='' class="cctr-splash"  id="cctr-splash" data-logo='{{::home.logo}}' data-video='home.video')

//
  section(cctr-sections='' class="cctr-sections") 
  section(class='cctr-splash__news')
    article(ng-repeat="post in posts")
      h3 {{post.title}}
      section(ng-bind-html="post.excerpt")
