section(class='ye-card')
  div(ye-card-cover='' data-cover='{{layout.ui.host + "images/splash.jpg"}}')
  h2(class='ye-subheader') Eventos Sociales:
  p(class='ye-card__text') Hay acontecimientos en la vida que solo ocurren una vez, es por ello que le ponemos especial esmero en los grandes y pequeños detalles para que sea inolvidable.
  a más detalle

section(class='ye-card')
  div(ye-card-cover='' data-cover = '{{layout.ui.host + "images/splash.jpg"}}')
  h2(class='ye-subheader') Eventos Culturales:
  p(class='ye-card__text') Te ofrecemos un equipo de apoyo de audio y video, internet inalámbrico en cada uno de nuestros salones, edecanes, ambientación y música para todo tipo de eventos culturales.

section(class='ye-card')
  div(ye-card-cover='' data-cover = '{{layout.ui.host + "images/splash.jpg"}}')
  h2(class='ye-subheader') Eventos Académicos:
  p(class='ye-card__text') Para convertir en un gran acontecimiento la merecida celebración de los logros académicos, te ofrecemos el marco ideal en nuestros diferentes y confortables salones.

section(class='ye-card')
  div(ye-card-cover='' data-cover = '{{layout.ui.host + "images/splash.jpg"}}')
  h2(class='ye-subheader') Eventos Empresariales:
  p(class='ye-card__text') Sus reuniones de trabajo y eventos de capacitación empresarial serán más confortables, nuestra infraestructura optimiza el uso de sus recursos, pudiendo realizar eventos de cualquier tamaño.
