@import '../../layout/styles/variables';

.contact__form {
  display: flex;
  flex-flow: row wrap;
  > div {
    flex: 1 0 50%;
    padding: 0 8px 0 16px;
    &:nth-child(3) {
      margin-top: 16px;
      flex: 1 0 100%;
      margin-bottom: 16px;
    }
    > input, textarea {
      width: 100%;
    }
  }
}

.block--horary {
  display: flex;
  >div {
    flex: 1 0 50%;
  }
}

input,
textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $color-background;
  &:focus {
    outline: 0;
  }
}
