@import '../../layout/styles/variables';
//gmap
gmap {
  display: block;
  &:focus {
    outline: 0;
  }
}

.gmap__map {
  display: block;
  //border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

.gmap__map__poster {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &.fail {
    .mdi {
      color: rgb(244,67,54);
    }
  }
  .mdi {
    color: #fff;
    &:first-child {
      font-size: 40px;
      width: 40px;
      height: 40px;
      margin: 0 0 8px 0;
    }
  }
}

.gmap__map__wrapper {
  position: relative;
  opacity: 0;
}
