@import '../../layout/styles/variables';
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss';
@import '../../../bower_components/mdi/scss/materialdesignicons.scss';
@import 'animations';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  margin: 0;
}

p {
  margin: 0;
}

@import 'gmap';

span.mdi {
  color: $color-white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

//-appbar
.appbar {
  min-height: 48px;
  background-color: $cctr_red;
  display: flex;
  align-items: center;
  z-index: 30;
  width: 100%;
  padding: 0 4px;
  align-self: flex-start;
  >h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 28px;
    text-transform: uppercase;
  }
  > .mdi {

  }
}

/** cctr-splash **/
.cctr-splash {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cctr-splash__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    background-image: url(#{$cctr_host}wp-content/themes/cctr-wp-theme/static/bgs/dots-black.svg);
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 200px;
    @include transition(all 1s ease);
    //padding: 8px 0 140px 0;
    @include background-image(linear-gradient(rgba(#000, .75) 0, transparent 100%));
    z-index: 2;
  }
  > video {
    width: 100%;
  }
  > div {
    background-image: url(#{$cctr_host}wp-content/themes/cctr-wp-theme/static/images/splash.jpg);
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.cctr-splash__menu-toggle {

  > .cctr-splash__menu {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: rgba($color-white, .8);
    padding: 16px 0 8px 0;
    z-index: 20;
    > .logo {
      margin-bottom: 16px;
      flex: 1 0 100%;
      > img {
        max-width: 220px;
        margin: 0 auto;
        display: block;
      }
    }
    > a {
      text-decoration: none;
      flex: 1 0 50%;
      > .mdi {
        display: none;
      }
      > h2 {
        cursor: pointer;
        text-align: center;
        flex: 1 0 50%;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: rgb(99, 85, 33);
        text-decoration: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        line-height: 1;
        //font-family: 'Julius Sans One', sans-serif;
        //font-family: 'Laila', serif;
      }

      &:nth-of-type(odd) h2 {
        text-align: right;
        padding: 8px 8px 8px 0;
      }
      &:nth-of-type(even) h2 {
        text-align: left;
        padding: 8px 0 8px 8px;
      }
    }

  }

  &.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 304px;
    z-index: 40;
    background-color: $color-white;
    @include transform(translateX(-100%));
    overflow-y: scroll;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14), 0 4px 5px 0 rgba(0,0,0,.098), 0 1px 10px 0 rgba(0,0,0,.084);
    @media screen and (max-width: $sidenav-default-width + $sidenav-min-space) {
      @include calc('width', '100% - #{$sidenav-min-space}');
    }
    &.open {
      @include transform(translateX(0));
    }
    > .cctr-splash__bg {
    }
    > .cctr-splash__menu {
      padding: 0;
      background-color: transparent;
      > .logo {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      > a {
        display: flex;
        flex: 1 0 100%;
        padding: 4px 8px;
        align-items: center;
        > .mdi {
          //color: $cctr_yellow;
          display: flex;
          color: $color-text;
        }
        > h2 {
          color: $color-text;
          text-align: left;
          padding: 8px 0;
          margin-left: 28px;
        }
      }
    }
    > .cctr-splash__footer {
      position: relative;
      .mdi {
        color: $cctr_yellow;
      }
    }
  }

}

.cctr-splash__footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  >.mdi {
    color: #fff;
    font-size: 24px;
    margin: 6px;
    padding: 6px;
  }
}
